<div class="accordion-item">
	<h2 class="accordion-header" id="heading{{applier.id}}">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{applier.id}}" aria-expanded="false" aria-controls="collapse{{applier.id}}">
			{{ applier.firstname }} {{ applier.lastname }}
		</button>
	</h2>
	<div id="collapse{{applier.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{applier.id}}" data-bs-parent="#accordion">
		<div class="accordion-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex">
					<div class="col">Age</div>
					<div class="col">{{ applier.age }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Genre</div>
					<div class="col">{{ applier.gender }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Taille (cm)</div>
					<div class="col">{{ applier.height }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Origine</div>
					<div class="col">{{ applier.origin }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Métier</div>
					<div class="col">{{ applier.profession }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Compétence au combat</div>
					<div class="col">{{ applier.warriorSkill }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Compétence en navigation</div>
					<div class="col">{{ applier.navigationSkill }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Arme de prédilection</div>
					<div class="col">{{ applier.weapon }}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col">Action</div>
					<div class="col">
						<a class="btn btn-primary" href="{{ path('applier_show', {'id': applier.id}) }}">
							<i class="bi bi-eye-fill"></i>
						</a>
						<a class="btn btn-primary" href="{{ path('applier_edit', {'id': applier.id}) }}">
							<i class="bi bi-pencil-fill"></i>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
