  <li class="list-group-item d-flex">
    <div class="col">{{ applier.firstname }}</div>
    <div class="col">{{ applier.lastname }}</div>
    <div class="col">{{ applier.gender.gender }}</div>
    <div class="col">{{ applier.age }}</div>
    <div class="col">{{ applier.height }}</div>
    <div class="col">{{ applier.origin }}</div>
    <div class="col">{{ applier.profession.profession }}</div>
    <div class="col">{{ applier.warriorSkill }}</div>
    <div class="col">{{ applier.navigationSkill }}</div>
    <div class="col">{{ applier.weapon.weapon }}</div>
    <div class="col">
        <a class="btn btn-primary" href="{{ path('applier_show', {'id': applier.id}) }}"><i class="bi bi-eye-fill"></i></a>
        <a class="btn btn-primary" href="{{ path('applier_edit', {'id': applier.id}) }}"><i class="bi bi-pencil-fill"></i></a>
    </div>
  </li>